* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}
body {
  background-color: rgb(2, 2, 59);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.container {
  background-color: white;
  padding: 10px 90px 10px 90px;
  margin: 10px auto;
  width: 985px;
  height: 625px;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.title {
  text-align: center;
  line-height: 14px;
  padding-bottom: 70px;
}
h1 {
  color: rgb(192, 10, 10);
}
h2 {
  color: rgb(2, 2, 59);
}

.middle {
  display: flex;
}

hr {
  border: 1px solid rgb(197, 197, 197);
}
.hangman-div {
  flex: 1;
  height: 500px;
}
.hangman {
  width: 95px;
  height: 250px;
  position: relative;
  margin: auto;
  border-bottom: 5px solid black;
  left: -130px;
  bottom: 50px;
}
.line1 {
  position: absolute;
  width: 4px;
  height: 100%;
  background-color: black;
  left: 20%;
  content: "";
  /* margin-right: 2px; */
}

.line2 {
  position: absolute;
  width: 150px;
  height: 4px;
  background-color: black;
  left: 20%;
  content: "";
}

.line2:after {
  position: absolute;
  width: 4px;
  height: 28px;
  background-color: black;
  left: 100%;
  content: "";
}

.head {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  right: -101px;
  top: 28px;
  border: 3px solid rgb(192, 10, 10);
  display: none;
}

.body {
  position: absolute;
  width: 3px;
  height: 90px;
  background-color: rgb(192, 10, 10);
  left: 170px;
  top: 75px;
  display: none;
}

.right-arm {
  position: absolute;
  content: "";
  transform: rotate(140deg);
  background-color: rgb(192, 10, 10);
  width: 50px;
  height: 3px;
  left: 127px;
  top: 110px;
  display: none;
}
.left-arm {
  position: absolute;
  content: "";
  transform: rotate(-140deg);
  background-color: rgb(192, 10, 10);

  width: 50px;
  height: 3px;
  left: 166px;
  top: 110px;
  display: none;
}

.left-leg {
  position: absolute;
  content: "";
  transform: rotate(140deg);
  background-color: rgb(192, 10, 10);
  width: 45px;
  height: 3px;
  left: 131px;
  top: 178px;
  display: none;
}
.right-leg {
  position: absolute;
  content: "";
  transform: rotate(-140deg);
  background-color: rgb(192, 10, 10);
  width: 45px;
  height: 3px;
  left: 166px;
  top: 178px;
  display: none;
}

.letters {
  flex: 2;
  /* width: 600px;  */
  text-align: center;
}
.letter {
  margin-left: 10px;
  margin-bottom: 10px;
  width: 55px;
  height: 55px;
  display: inline-block;
  border: none;
  /* background-color: rgb(96, 126, 36); */
  background-color: rgb(226, 182, 60);
  color: white;
  font-size: 20px;
  cursor: pointer;
  line-height: 25px;
  font-weight: bold;
}
.clicked {
  cursor: not-allowed;
  background-color: rgb(199, 199, 199);
  color: rgb(173, 173, 173);
}

.letter:hover {
  transform: scale(0.97);
  /* background-color: rgb(146, 182, 74);
  color: rgb(58, 77, 20); */
  background-color: rgb(235, 206, 126);
  color: white;
}

.guess {
  display: flex;
  justify-content: center;
  margin: 10px auto;
  min-height: 100px;
  padding: 10px;
  padding-bottom: 80px;
  padding-top: 30px;
}

.guess span {
  width: 40px;
  height: 55px;
  font-size: 27px;
  text-align: center;
  font-weight: bold;
  border-bottom: 3px solid rgba(126, 126, 126, 0.493);
  margin-right: 10px;
}

.w1 .head {
  display: block;
}
.w2 .body {
  display: block;
}
.w3 .right-arm {
  display: block;
}
.w4 .left-arm {
  display: block;
}
.w5 .right-leg {
  display: block;
}
.w6 .left-leg {
  display: block;
}

.letters.finish {
  pointer-events: none;
}

.popup {
  background-color: rgba(241, 241, 241, 0.966);
  width: 600px;
  padding: 40px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  position: fixed;
  top: 40%;
  left: 30%;
}

.reset {
  margin-top: 25px;
  padding: 9px;
  border-radius: 5%;
  cursor: pointer;
  font-weight: bold;
  background-color: white;
}

.reset:hover {
  transform: scale(0.97);
}
